* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

@font-face {
  font-family: "Oswald";
  src: url("./fonts/Oswald-Regular.ttf"), format("ttf");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font: 1em "Oswald", monospace;
  /* background-color: gold; */
  height: 100%;
  margin: 0;
}

button {
  background: none;
  border: none;
}

ul,
li {
  list-style-type: none;
}

#content {
  display: grid;
  grid-template-rows: 1fr 15fr;
  grid-template-columns: 1fr 15fr;
  height: 100%;
  grid-template-areas:
    "a a a a a"
    "b c c c c"
    "b c c c c"
    "b c c c c";
}

#top-bar {
  grid-area: a;
  /* height: 50px; */
  width: 100%;
  background-color: gold;
}

#left-side-bar {
  grid-area: b;
  width: 18vw;
  background-color: dodgerblue;
}

#to-dos-container {
  grid-area: c;
  background-color: lightgreen;
}

.task-boxes-container {
  /* gets boxes to align as columns besides each other */
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.to-do-boxes {
  background-color: #ffff88;
  height: 90%;
  width: 96%;
  margin: 1% 2% 2% 2%;
}

.to-do-title {
  color: palevioletred;
  margin-left: 2%;
}

#add-task {
  margin: 1%;
  font-size: 2em;
}

#projects-title {
  color: gold;
  font-size: 2em;
  text-align: center;
  padding-top: 10;
}

#current-tasks,
#task-details {
  width: 50%;
}

#add-taskbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#task-input-bar {
  width: 90%;
  height: 95%;
}

#add-task-btn {
  font-size: 2em;
}

#task-details > div {
  background-color: paleturquoise;
}

#task-details > h2 {
  color: rgb(141, 92, 190);
}

#projects-container {
  height: 100%;
}

.add-projects,
.added-projects {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  align-items: center;
}

.project-btns {
  display: flex;
  align-items: center;
}

.project-btns-container {
  display: flex;
}

#edit-btn:hover {
  /* Adds gold filter */
  filter: invert(82%) sepia(58%) saturate(2058%) hue-rotate(359deg)
    brightness(104%) contrast(107%);
}

#del-btn:hover {
  /* Adds gold filter */
  filter: invert(82%) sepia(58%) saturate(2058%) hue-rotate(359deg)
    brightness(104%) contrast(107%);
}

#del-btn,
#edit-btn {
  height: 24px;
  width: 24px;
  background: none;
}

.added-projects:hover #del-btn {
  background-image: url("./images/delete.svg");
  background-size: 100% 100%;
}

.added-projects:hover #edit-btn {
  background-image: url("./images/edit.svg");
  background-size: 100% 100%;
}

.add-projects,
.added-projects,
.project-btns {
  color: white;
  cursor: pointer;
  font-size: 1.25em;
}

#add-task {
  color: rebeccapurple;
  /* text-decoration: none; */
}

#tasks {
  display: flex;
  justify-content: space-between;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.add-projects:hover {
  color: gold;
}

li.added-projects:hover {
  color: gold;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(125deg)
    brightness(100%) contrast(102%);
}

.title {
  color: dodgerblue;
  padding-left: 2.5%;
}
