* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

@font-face {
  font-family: "Oswald";
  src: url('./fonts/Oswald-Regular.ttf'), format('ttf');
  font-weight: normal;
  font-style: normal;
}

html, 
body {
  font: 1em "Oswald", monospace;
  /* background-color: gold; */
}

button {
  background: none;
  border: none;
}

#content {
  display: grid;
  grid-template-rows: 1fr 15fr;
  height: 100vh;
  grid-template-areas: 
    "a a a a"
    "b b b b"
    "b b b b"
    "b b b b ";
}

#top-bar {
  grid-area: a;
  /* height: 50px; */
  width: 100%;
  background-color: gold;
}

#left-side-bar {
  grid-area: b;
  width: 18vw;
  background-color: dodgerblue;
}

#projects-title {
  color: gold;
  font-size: 2em;
  text-align: center;
  padding-top: 10;
}

#projects-container {
  height: 100%;
}

.add-projects {
  display: flex;
  justify-content: space-between;
}

img.project-btns {
  height: 1.5em;
  width: 1.5em;
  /* display: flex;
  align-items: center; */
}

.add-projects, .project-btns {
  color: white;
  padding-left: 5%;
  cursor: pointer;
  font-size: 1.25em;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(125deg) brightness(100%) contrast(102%);
}

.title {
  color: dodgerblue;
  padding-left: 2.5%;
}

